//color
$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f7f7f7cb;
$color-orange-light: #f5e132;
$color-orange-dark: #ff5e00;
$color-blue-light: #9dbefc;
$color-blue-dark: #1d2cffd8;
//GRID
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
//font
$default-font-size:1.6rem;